<h1><%= @machine.location %> Vending Machine</h1>
<% @machine.snacks.each do |snack| %>
  <%= snack.name %>: $<%= '%.2f' % snack.price_format %>
  Average Price: $<%= '%.2f' % @machine.average_price_of_snacks %>
<% end %>
